extends template2-layout

block header-scripts

block content
  <!-- Part 1 Begin -->
  if pageinfo.part1visible.toUpperCase() == 'TRUE'
    section(id="part1")
      div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
        div.custom-title-space-height
        div.container.pt-4.pb-4
          h1.text-white.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
          h3.text-white.custom-text-shadow-1px #{pageinfo.part1subtitle}
          div.text-light.col-12.col-lg-6.p-0 #{pageinfo.part1content}
          h3.text-white.custom-text-shadow-1px #{pageinfo.part2title}
        div.custom-title-space-height
  <!-- Part 1 End -->

  <!-- Part 2 Begin -->
  if pageinfo.part2visible.toUpperCase() == 'TRUE'
    section.custom-product-bgcolor.pt-5.pb-5(id="part2")
      div.container
        div.row.justify-content-start
          each p2item in pageinfo.part2data
            div.col-md-6.col-lg-4.pb-3
              a.custom-product-cat-link(href=p2item.href)
                div.card
                  img.img-fluid.card-img(src=p2item.image, alt=p2item.title)
                  div.card-img-overlay.d-flex.align-items-end
                    div.w-100
                      h5.font-weight-bold #{p2item.title}
                      span.font-weight-bold!= p2item.content
  <!-- Part 2 End -->

  <!-- Part 3 Begin -->
  if pageinfo.part3visible.toUpperCase() == 'TRUE'
    section.custom-product-bgcolor.pt-0.pb-5(id="part3")
      div.container
        ul.list-unstyled.justify-content-end.row
          each p3item in pageinfo.part3data
            li
              if p3item.href != ''
                a.custom-product-cat-link2(href=p3item.href)
                  img.custom-product-cat-link2-height.img-fluid(src=p3item.image)
              else
                img.custom-product-cat-link2-height.img-fluid(src=p3item.image)
  <!-- Part 3 End -->

block footer-scripts
