extends template1-layout

//- setPart2Items Declaration Begin
mixin setPart2Items
  each p2item in pageinfo.part2data
    div.col-lg-6.col-sm-12.pl-3.pr-3.pt-3.pl-sm-1.pr-sm-1.pt-sm-1
      div.card.border-0.custom-news-bgcolor
        div.card-body
          a.custom-news-title-color(href=p2item.link, target="_blank", rel=p2item.headline)
            h4.card-title.custom-text-shadow-1px #{p2item.headline}
          ui.list-inline
            li.list-inline-item
              i(class=p2item.faicon + " fa-lg custom-news-content-color")
            li.list-inline-item
              h6.card-text.custom-news-content-color #{p2item.date}
          p.card-text.custom-news-content-color!= p2item.shorttext
//- setPart2Items Declaration End

block content
  <!-- Title Banner Part Begin -->
  div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
    div.container.h-100
      div.row.justify-content-center.pt-5
        div.col.text-center.text-light
          h1.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
          h5.font-weight-bold.custom-text-shadow-1px #{pageinfo.part1subtitle}
      div.row.justify-content-center.pt-5.pb-5
        div.col
          span.h5.text-light #{pageinfo.part1content}
  <!-- Title Banner Part End -->

  <!-- Part 2 Begin -->
  div.container-fluid.custom-news-bgcolor
    div.container.pt-5.pb-5
      div.row.justify-content-center
        div.col.text-dark.text-center.pt-3.pb-3
          h5.font-weight-bold.custom-text-shadow-1px #{pageinfo.part2title}
      div.row.justify-content-center
        div.col.pt-3.pb-3
          div.card-deck.pb-4
            +setPart2Items
  <!-- Part 2 End -->
