extends template1-layout

block header-scripts

block content
  <!-- Part 1 Begin -->
  if pageinfo.part1visible.toUpperCase() == 'TRUE'
    section(id="part1")
      div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
        div.custom-title-space-height
        div.container
          div.row.justify-content-center
            div.col.text-center.text-light
              h1.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
              h5.font-weight-bold.custom-text-shadow-1px #{pageinfo.part1subtitle}
          div.row.justify-content-center.pt-5.pb-5
            div.col-10.col-md-8.col-lg-6
              span.h5.text-light #{pageinfo.part1content}
  <!-- Part 1 End -->

  <!-- Part 2 Begin -->
  if pageinfo.part2visible.toUpperCase() == 'TRUE'
    section(id="part2")
      div.container-fluid.bg-light.pt-5.pb-5
        div.container
          div.row.justify-content-center
            div.col.text-dark.text-center.pt-3.pb-3
              h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part2title}
          div.row.justify-content-center
            div.col
              each p2item in pageinfo.part2data
                div.pt-3.pb-3
                  div.row
                    div.col
                      h5.font-weight-bold #{p2item.title}
                  div.row
                    div.col-md-7.text-dark
                      table.table.table-borderless.table-hover
                        tbody.col-11
                          each lineitem in p2item.lines
                            tr
                              td.col-lg-3.col-md-4.text-right #{lineitem.caption}
                              if lineitem.link && lineitem.link != undefined
                                td
                                  a.custom-contact-link(href=lineitem.link)!= lineitem.text
                              else
                                td!= lineitem.text
                    div.col-md-5
                      a.custom-contact-link(href=p2item.imagelink, target="_blank", rel=p2item.title)
                        img.img-fluid.custom-contact-map-height.rounded(src=p2item.image, alt=p2item.title)
  <!-- Part 2 End -->

  <!-- Part 3 Begin -->
  if pageinfo.part3visible.toUpperCase() == 'TRUE'
    section(id="part3")
      div.container-fluid.custom-contact-form-bgcolor.pt-5.pb-5
        div.container
          form(action="#", id="sendmessageForm", method="POST")
            div.form-group
              div.form-row.justify-content-center
                div.col.text-dark.text-center.p-3
                  h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part3title}
              div.form-row.justify-content-center.p-3
                div.col-md-3.text-md-right.text-sm-left
                  label.form-control-lg(for="name") 
                    h5.font-weight-bold #{pageinfo.part3data.namecaption}
                div.col-md-6
                  input.form-control.form-control-lg(type="name", name="name", id="name", placeholder=pageinfo.part3data.nameholder)
              div.form-row.justify-content-center.p-3
                div.col-md-3.text-md-right.text-sm-left
                  label.form-control-lg(for="email") 
                    h5.font-weight-bold #{pageinfo.part3data.emailcaption}
                div.col-md-6
                  input.form-control.form-control-lg(type="email", name="email", id="email", placeholder=pageinfo.part3data.emailholder, required)
              div.form-row.justify-content-center.p-3
                div.col-md-3.text-md-right.text-sm-left
                  label.form-control-lg(for="message") 
                    h5.font-weight-bold #{pageinfo.part3data.messagecaption}
                div.col-md-6
                  textarea.form-control.form-control-lg(name="message", id="message", placeholder=pageinfo.part3data.messageholder, rows="4")
              div.form-row.justify-content-center.p-3
                div.col.text-center
                  button.btn.btn-primary(id="submitBtn", type="submit") #{pageinfo.part3data.submitcaption}
  <!-- Note: Need to add script part below the body -->
  <!-- Part 3 End -->

  <!-- Ajax Form Response - modalContactResponseDialog Begin -->
  div.modal.fade(id="modalContactResponseDialog", tabindex="-1", role="dialog")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          h5 #{pageinfo.part3data.responsetitle}
          button.close(type="button", data-dismiss="modal", aria-label=pageinfo.part3data.responsebuttoncaption)
            span(aria-hidden="true") &times;
        div.modal-body
          p!= pageinfo.part3data.responsecontent
        div.modal-footer.justify-content-center
          button.btn.btn-success(type="button",data-dismiss="modal") #{pageinfo.part3data.responsebuttoncaption}
  <!-- Ajax Form Response - modalContactResponseDialog End -->

block footer-scripts
  <!-- Part3/Send Message Script Begin -->
  script.
    $(document).ready(function() {
      $('#sendmessageForm').submit(function(event) {
        event.preventDefault()
        $.post('/contact/sendmessage', {name: $('#name').val(), email: $('#email').val(), message: $('#message').val() }, function(data) {
          $('#modalContactResponseDialog').modal('show')
        })
      })
    })
  <!-- Part3/Send Message Script End -->
