//- setNavItems Declaration Begin
mixin setNavItems
  each menuitem, index in templatepageinfo.navmenu
    if menuitem.submenu.length > 0
      if menuitem.active
        li.nav-item.active
          div.dropdown
            a.nav-link.dropdown-toggle(href=menuitem.href, id="bs-submenu-" + index, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{menuitem.name}
              span.sr-only (current)
            div.dropdown-menu(aria-labelledby="bs-submenu-" + index)
              each submenuitem in menuitem.submenu
                if submenuitem.name == "---"
                  div.dropdown-divider
                else
                  a.dropdown-item(href=submenuitem.href) #{submenuitem.name}
      else
        li.nav-item
          div.dropdown
            a.nav-link.dropdown-toggle(href=menuitem.href, id="bs-submenu-" + index, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{menuitem.name}
            div.dropdown-menu(aria-labelledby="bs-submenu-" + index)
              each submenuitem in menuitem.submenu
                if submenuitem.name == "---"
                  div.dropdown-divider
                else
                  a.dropdown-item(href=submenuitem.href) #{submenuitem.name}
    else
      if menuitem.active
        li.nav-item.active
          a.nav-link(href=menuitem.href) #{menuitem.name}
            span.sr-only (current)
      else
        li.nav-item
          a.nav-link(href=menuitem.href) #{menuitem.name}
//- setNavItems Declaration End

<!-- Sticky Nav Bar Begin -->
header.sticky-top.custom-height-0.p-0
  nav.navbar.navbar-expand-lg.navbar-light.p-2.custom-white-transparency-95
    div.d-flex.container-fluid
      div.flex-row
        a.navbar-brand(href="/", alt=templatepageinfo.siteinfo.headersitename)
          img.d-inline-block.align-top(src=templatepageinfo.siteinfo.headersitelogo, height="30", alt=templatepageinfo.siteinfo.headersitename)
          |  
          span.custom-text-shadow-1px #{templatepageinfo.siteinfo.headersitename}
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#bs-navbarNav", aria-controls="bs-navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.flex-row-reverse.collapse.navbar-collapse(id="bs-navbarNav")
        ul.navbar-nav
          +setNavItems
          form.form-inline.mt-2.mt-md-0(action="/search", post="GET")
            input.form-control.rounded-0.col-8(type="search", name="term", placeholder=templatepageinfo.searchinfo.holder, aria-label=templatepageinfo.searchinfo.caption)
            button.btn.btn-success.rounded-0(type="submit") #{templatepageinfo.searchinfo.caption}
<!-- Sticky Nav Bar End -->
