extends template1-layout

//- setCarouselIndicators Declaration Begin
mixin setCarouselIndicators
  each cbitem, index in pageinfo.carouseldata
    if index == 0
      li.active(data-target="#bs-carouselSlides", data-slide-to=index)
    else
      li(data-target="#bs-carouselSlides", data-slide-to=index)
//- setCarouselIndicators Declaration End

//- setCarouselBannerItems Declaration Begin
mixin setCarouselBannerItems
  each cbitem, index in pageinfo.carouseldata
    if index == 0
      div.carousel-item.active
        img.d-block.w-100.custom-carousel-img-height(src=cbitem.image, alt=cbitem.caption)
        div.carousel-caption.d-none.d-md-block(style="height:" + cbitem.captionpos)
          h1.font-weight-bolder.text-white.custom-text-shadow-2px!= cbitem.caption
    else
      div.carousel-item
        img.d-block.w-100.custom-carousel-img-height(src=cbitem.image, alt=cbitem.caption)
        div.carousel-caption.d-none.d-md-block(style="height:" + cbitem.captionpos)
          h1.font-weight-bolder.text-white.custom-text-shadow-2px!= cbitem.caption
//- setCarouselBannerItems Declaration End

//- setAboutPartItems Declaration Begin
mixin setAboutPartItems
  each apitem in aboutpartinfo.part2data
    div.col-lg-6.col-md-6.mt-0.mb-3
      div.card.bg-light.border-light.custom-div-about
        div.card-body.pt-0.pl-0.pb-3.pr-3
          i(class=apitem.faicon + " fa-3x costom-default-color-about")
          h5.card-title.font-weight-bold.custom-text-shadow-1px.costom-default-color-about #{apitem.faicontitle}
          p.card-text!= apitem.faiconcontent
//- setAboutPartItems Declaration End

//- setTimelinePartItems Declaration Begin
mixin setTimelinePartItems
  each tpitem in aboutpartinfo.part3data
    div.timeline__item
      div.timeline__content
        h5.custom-text-shadow-1px #{tpitem.headline}
        p!= tpitem.content
//- setTimelinePartItems Declaration End

//- setTeamPartItems Declaration Begin
mixin setTeamPartItems
  each tpitem in aboutpartinfo.part4data
    div.col-lg-4.col-md-6.p-3
      div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
        img.img-fluid.rounded-circle(src=tpitem.image, alt=tpitem.headline)
        div.card-body
          h5.card-title.custom-text-shadow-1px #{tpitem.headline}
          p.card-text!= tpitem.content
          ul.list-inline
            each linkitem in tpitem.links
              li.list-inline-item.pl-1.pr-1
                a.costom-team-color(href=linkitem.href, target="_blank")
                  i(class=linkitem.faicon + " fa-lg")
//- setTeamPartItems Declaration End

//- setTestimonialPartItems Declaration Begin
mixin setTestimonialPartItems
  each tpitem, index in aboutpartinfo.part5data
    if index == 0
      div.carousel-item.active
        div.text-center
          h3.font-weight-bold.text-success.custom-text-shadow-white-1px #{tpitem.headline}
          h5.text-white #{tpitem.prefixsubline}
            |  
            span.text-warning.custom-text-shadow-white-1px #{tpitem.subline}
          div.container-fluid.w-75
            p.text-light!= tpitem.content
    else
      div.carousel-item
        div.text-center
          h3.font-weight-bold.text-success.custom-text-shadow-white-1px #{tpitem.headline}
          h5.text-white #{tpitem.prefixsubline}
            |  
            span.text-warning.custom-text-shadow-white-1px #{tpitem.subline}
          div.container-fluid.w-75
            p.text-light!= tpitem.content
//- setTestimonialPartItems Declaration End

//- setNewsPartItems Declaration Begin
mixin setNewsPartItems
  each npitem in newsPartInfo.part2data
    div.col-lg-6.col-sm-12.pl-1.pr-1
      div.card.border-0.custom-news-bgcolor
        div.card-body
          a.custom-news-title-color(href=npitem.href, rel=npitem.headline)
            h4.card-title.custom-text-shadow-1px #{npitem.headline}
          ui.list-inline
            li.list-inline-item
              i(class=npitem.faicon + " fa-lg custom-news-content-color")
            li.list-inline-item
              h6.card-text.custom-news-content-color #{npitem.date}
          p.card-text.custom-news-content-color!= npitem.shorttext
//- setNewsPartItems Declaration End

block header-scripts
  link(href="/static/css/timeline.min.css", rel="stylesheet")
  link(href="/static/css/slider-pro.css", rel="stylesheet")

block content
  <!-- Carousel Banner Part Begin -->
  if pageinfo.carouselpartvisible.toUpperCase() == 'TRUE'
    section(id="carousel")
      div.container-fluid.p-0
        div.carousel.slide(id="bs-carouselSlides", data-ride="carousel")
          ol.carousel-indicators
            +setCarouselIndicators
          div.carousel-inner
            +setCarouselBannerItems
          a.carousel-control-prev(href="#bs-carouselSlides", role="button", data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next(href="#bs-carouselSlides", role="button", data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
  <!-- Carousel Banner Part End -->

  <!-- About Part Begin -->
  if pageinfo.aboutpartvisible.toUpperCase() == 'TRUE'
    section(id="about")
      div.container-fluid.bg-light.pt-5.pb-5
        div.container
          div.row.justify-content-center
            div.col.text-center.pt-3.pb-3
              h2.font-weight-bolder.custom-text-shadow-2px #{aboutpartinfo.part1title}
              h6.text-secondary.custom-text-shadow-1px #{aboutpartinfo.part1subtitle}
          div.row.justify-content-center
            div.col.pt-3.pb-3
              span.h5 #{aboutpartinfo.part1content}
          div.row.justify-content-center
            div.col-lg-5.col-md-12.pt-3.pb-3
              img.img-fluid.rounded(src="/imgs/template1-aboutus.jpg", alt="about us")
            div.col-lg-7.col-md-12.pt-3.pb-3
              div.row
                +setAboutPartItems
  <!-- About Part End -->

  <!-- Timeline Part Begin -->
  if pageinfo.timelinepartvisible.toUpperCase() == 'TRUE'
    section(id="timeline")
      div.container-fluid.custom-timeline-bgcolor.pt-5.pb-5
        div.container-fluid
          div.text-center.custom-text-shadow-3px
            span #{aboutpartinfo.part3subtitle}
            h3.font-weight-bolder #{aboutpartinfo.part3title}
          div.timeline
            div.timeline__wrap
              div.timeline__items
                +setTimelinePartItems
            button.timeline-nav-button.timeline-nav-button--prev
            button.timeline-nav-button.timeline-nav-button--next
            span.timeline-divider
  <!-- Note: Need to add script part below the body -->
  <!-- Timeline Part End -->
  
  <!-- Team Part Begin -->
  if pageinfo.teampartvisible.toUpperCase() == 'TRUE'
    section(id="team")
      div.container-fluid.bg-light.pt-5.pb-5
        div.container
          div.text-center.custom-text-shadow-2px.pb-3
            h2.font-weight-bolder #{aboutpartinfo.part4title}
            p #{aboutpartinfo.part4subtitle}
          div.card-deck.pb-4
            +setTeamPartItems
  <!-- Team Part End -->

  <!-- News Part Begin -->
  if pageinfo.newspartvisible.toUpperCase() == 'TRUE'
    section(id="news")
      div.container-fluid.custom-news-bgcolor.pt-5.pb-5
        div.container.p-0
          div.text-center.custom-text-shadow-2px.pb-3
            p= newsPartInfo.part2subtitle
            h2.font-weight-bolder= newsPartInfo.part2title
          div.card-deck
            +setNewsPartItems
  <!-- News Part End -->
             
  <!-- Slider Part Begin -->
  if pageinfo.sliderpartvisible.toUpperCase() == 'TRUE'
    section(id="slider")
      div.container-fluid.bg-white.pt-5.pb-5
        div.container.p-0
          div.text-center.custom-text-shadow-2px.pb-3
            p #{pageinfo.slidersubtitle}
            h2.font-weight-bolder #{pageinfo.slidertitle}
        div.slider-pro(id="bs-hot-slider")
          div.sp-slides
            each sditem in pageinfo.sliderdata
              div.sp-slide
                a(href=sditem.href)
                  img.sp-image.img-fluid(src=sditem.image)
                  p.sp-caption!= sditem.caption
  <!-- Note: Need to add script part below the body -->
  <!-- Slider Part End -->

  <!-- Testimonial Part Begin -->
  if pageinfo.testimonialpartvisible.toUpperCase() == 'TRUE'
    section(id="testimonial")
      div.container-fluid.custom-testimonial-height.pt-5.pb-5(style="background: url('" + aboutpartinfo.part5background + "')")
        div.container.p-0
          div.text-center.pb-3.text-dark.custom-text-shadow-white-1px
            h2.font-weight-bolder #{aboutpartinfo.part5title}
            p #{aboutpartinfo.part5subtitle}
          div.carousel.slide(id="bs-testimonial-slide", data-ride="carousel")
            div.carousel-inner
              +setTestimonialPartItems
            a.carousel-control-prev(href="#bs-testimonial-slide", role="button", data-slide="prev")
              span.carousel-control-prev-icon(aria-hidden="true")
              span.sr-only Previous
            a.carousel-control-next(href="#bs-testimonial-slide", role="button", data-slide="next")
              span.carousel-control-next-icon(aria-hidden="true")
              span.sr-only Next
  <!-- Testimonial Part End -->

block footer-scripts
  <!-- Timeline Script Begin -->
  script(src="/static/js/timeline.min.js")
  script.
    timeline(document.querySelectorAll('.timeline'), {
      forceVerticalMode: 700,
      mode: 'horizontal',
      verticalStartPosition: 'left',
      visibleItems: 5
    });
  <!-- Timeline Script End -->

  <!-- Slider Script Begin -->
  script(src="/static/js/jquery.sliderPro.min.js")
  script.
    $(document).ready(function($) {
      $('#bs-hot-slider').sliderPro({
        width: 400,
        height: 400,
        visibleSize: '50%',
        forceSize: 'fullWidth',
        autoSlideSize: true
      });
    });
  <!-- Slider Script End -->
