extends template1-layout

block content
  <!-- Title Banner Part Begin -->
  div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
    div.container.h-100
      div.row.justify-content-center.pt-5
        div.col.text-center.text-light
          h1.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
          h5.font-weight-bold.custom-text-shadow-1px #{pageinfo.part1subtitle}
      div.row.justify-content-center.pt-5.pb-5
        div.col
          span.h5.text-light #{pageinfo.part1content}
  <!-- Title Banner Part End -->

  <!-- Part 2 Begin -->
  div.container-fluid.custom-news-bgcolor
    div.container.pt-5.pb-5
      div.row.justify-content-center
        div.col.text-dark.text-center.pt-3.pb-3
          h5.font-weight-bold.custom-text-shadow-1px #{pageinfo.part2data[0].headline}
      div.row.justify-content-center
        div.col.pt-3.pb-3
          ui.list-inline
            li.list-inline-item
              i(class=pageinfo.part2data[0].faicon + " fa-lg custom-news-content-color")
            li.list-inline-item
              h6.custom-news-content-color #{pageinfo.part2data[0].date}
      div.row
        div.col.pt-3.pb-3
          span!= pageinfo.part2data[0].text
      div.row.justify-content-center
        div.col.pt-3.pb-3
          nav(aria-label="Page navigation")
            ul.pagination.justify-content-center
              if pageinfo.currentnewsid > 0
                li.page-item
                  a.page-link(href="/news/details?newsid=" + (pageinfo.currentnewsid-1), aria-label="Previous") 
                    span(aria-hidden="true") &laquo;
              li.page-item
                a.page-link(href="javascript:history.go(-1);") Go Back
              if pageinfo.currentnewsid < pageinfo.maxnewsid - 1
                li.page-item
                  a.page-link(href="/news/details?newsid=" + (pageinfo.currentnewsid+1), aria-label="Next") 
                    span(aria-hidden="true") &raquo;
  <!-- Part 2 End -->
