extends template2-layout

//- setPart2Items Declaration Begin
mixin setPart2Items
  each p2item, index in pageinfo.part2data
    div.col-lg-4.col-12.pb-3
      div.card.custom-div-about.custom-card-offset-y20
        div.card-body.p-3.pl-lg-4.pr-lg-4.pt-lg-5.pb-lg-5
          h3.font-weight-bold.custom-text-shadow-1px(class="costom-default-color-about-" + (index % 3))
            i(class=p2item.faicon)
            | 
            | #{p2item.faicontitle}
          p.card-text!= p2item.faiconcontent
//- setPart2Items Declaration End

//- setPart3Items Declaration Begin
mixin setPart3Items
  each p3item in pageinfo.part3data
    div.timeline__item
      div.timeline__content
        h5.custom-text-shadow-1px #{p3item.headline}
        p!= p3item.content
//- setPart3Items Declaration End

//- setPart4Items Declaration Begin
mixin setPart4Items
  each p4item in pageinfo.part4data
    div.col-lg-3.col-md-4.p-2
      div.card.rounded.border-0
        img.card-img-top(src=p4item.image, alt=p4item.headline)
        div.card-body
          h5.card-title.custom-text-shadow-1px #{p4item.headline}
          p.card-text!= p4item.content
          ul.card-text.list-inline
            each linkitem in p4item.links
              li.list-inline-item.pl-1.pr-1.pb-0
                a.costom-team-color(href=linkitem.href, target="_blank")
                  i(class=linkitem.faicon + " fa-lg")
//- setPart4Items Declaration End

//- setPart5Items Declaration Begin
mixin setPart5Items
  each p5item, index in pageinfo.part5data
    div.col-md-6.col-lg-4.p-0
      div.card.rounded(class=' costom-default-color-about-bg' + (index % 3))
        div.card-header.text-capitalize.custom-text-shadow-1px= p5item.prefixsubline + ' ' + p5item.subline
        div.card-body
          blockquote.blockquote.mb-0
            p!= p5item.content
            footer.blockquote-footer #{p5item.headline}
//- setPart5Items Declaration End

block header-scripts
  link(href="/static/css/timeline.min.css", rel="stylesheet")

block content
  <!-- Part 1 Begin -->
  if pageinfo.part1visible.toUpperCase() == 'TRUE'
    section(id="part1")
      div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
        div.custom-title-space-height
        div.container.pt-4.pb-4
          h1.text-white.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
          h3.text-white.custom-text-shadow-1px #{pageinfo.part1subtitle}
          div.text-light.col-12.col-lg-6.p-0 #{pageinfo.part1content}
        div.custom-title-space-height
  <!-- Part 1 End -->

  <!-- Part 2 Begin -->
  if pageinfo.part2visible.toUpperCase() == 'TRUE'
    section.custom-about-bgcolor.pt-0.pb-5(id="part2")
      div.container-fluid
        div.container
          div.row
            +setPart2Items
  <!-- Part 2 End -->

  <!-- Part 3 Begin -->
  if pageinfo.part3visible.toUpperCase() == 'TRUE'
    section.custom-about-bgcolor.pt-1.pb-5(id="part3")
      div.container.pb-0
        div.text-light.custom-text-shadow-1px
          h2.font-weight-bolder #{pageinfo.part3title}
          span #{pageinfo.part3subtitle}
        div.p-1.pt-3
          div.timeline
            div.timeline__wrap
              div.timeline__items
                +setPart3Items
            button.timeline-nav-button.timeline-nav-button--prev
            button.timeline-nav-button.timeline-nav-button--next
            span.timeline-divider
  <!-- Note: Need to add timeline script part below the body -->
  <!-- Part 3 End -->
  
  <!-- Part 4 Begin -->
  if pageinfo.part4visible.toUpperCase() == 'TRUE'
    section.custom-about-bgcolor.pt-1.pb-5(id="part4")
      div.container-fluid
        div.container
          div.text-light.custom-text-shadow-1px
            h2.font-weight-bolder #{pageinfo.part4title}
            p #{pageinfo.part4subtitle}
          div.card-deck
            +setPart4Items
  <!-- Part 4 End -->

  <!-- Part 5 Begin -->
  if pageinfo.part5visible.toUpperCase() == 'TRUE'
    section.custom-about-bgcolor(id="part5")
      div.container-fluid.custom-testimonial-height.pt-5.pb-5(style="background: url('" + pageinfo.part5background + "')")
        div.container
          div.text-light.custom-text-shadow-1px
            h2.font-weight-bolder #{pageinfo.part5title}
            p #{pageinfo.part5subtitle}
          div.card-deck
            +setPart5Items
  <!-- Part 5 End -->

block footer-scripts
  <!-- Timeline Script Begin -->
  script(src="/static/js/timeline.min.js")
  script.
    timeline(document.querySelectorAll('.timeline'), {
      forceVerticalMode: 700,
      mode: 'horizontal',
      verticalStartPosition: 'left',
      visibleItems: 4
    });
  <!-- Timeline Script End -->
