extends template1-layout

block header-scripts
  link(href="/static/css/timeline.min.css", rel="stylesheet")
  link(href="/static/css/slider-pro.css", rel="stylesheet")

//- setCarouselIndicators Declaration Begin
mixin setCarouselIndicators
  each cbitem, index in pageinfo.carouseldata
    if index == 0
      li.active(data-target="#bs-carouselSlides", data-slide-to=index)
    else
      li(data-target="#bs-carouselSlides", data-slide-to=index)
//- setCarouselIndicators Declaration End

//- setCarouselBannerItems Declaration Begin
mixin setCarouselBannerItems
  each cbitem, index in pageinfo.carouseldata
    if index == 0
      div.carousel-item.active
        img.d-block.w-100(src=cbitem.image, alt=cbitem.caption)
        div.carousel-caption.d-none.d-md-block
          h1.font-weight-bolder.text-white.custom-text-shadow-2px!= cbitem.caption
    else
      div.carousel-item
        img.d-block.w-100(src=cbitem.image, alt=cbitem.caption)
        div.carousel-caption.d-none.d-md-block
          h1.font-weight-bolder.text-white.custom-text-shadow-2px!= cbitem.caption
//- setCarouselBannerItems Declaration End

//- setAboutPartItems Declaration Begin
mixin setAboutPartItems
  each apitem in aboutpartinfo.part2data
    div.col-lg-6.col-md-6.mt-0.mb-3
      div.card.bg-light.border-light.custom-div-about
        div.card-body.pt-0.pl-0.pb-3.pr-3
          i(class=apitem.faicon + " fa-3x costom-default-color-about")
          h5.card-title.font-weight-bold.custom-text-shadow-1px.costom-default-color-about #{apitem.faicontitle}
          p.card-text!= apitem.faiconcontent
//- setAboutPartItems Declaration End

//- setTimelinePartItems Declaration Begin
mixin setTimelinePartItems
  each tpitem in aboutpartinfo.part3data
    div.timeline__item
      div.timeline__content
        h5.custom-text-shadow-1px #{tpitem.headline}
        p!= tpitem.content
//- setTimelinePartItems Declaration End

//- setTeamPartItems Declaration Begin
mixin setTeamPartItems
  each tpitem in aboutpartinfo.part4data
    div.col-lg-4.col-md-6.p-3
      div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
        img.img-fluid.rounded-circle(src=tpitem.image, alt=tpitem.headline)
        div.card-body
          h5.card-title.custom-text-shadow-1px #{tpitem.headline}
          p.card-text!= tpitem.content
          ul.list-inline
            li.list-inline-item
              a.costom-team-color(href=tpitem.qqlink, target="_blank", rel=tpitem.headline)
                i.fab.fa-qq.fa-lg
            li.list-inline-item
            li.list-inline-item
              a.costom-team-color(href="mailto:" + tpitem.email, rel=tpitem.headline)
                i.fas.fa-envelope.fa-lg
//- setTeamPartItems Declaration End

//- setTestimonialPartItems Declaration Begin
mixin setTestimonialPartItems
  each tpitem, index in aboutpartinfo.part5data
    if index == 0
      div.carousel-item.active
        div.text-center
          h3.font-weight-bold.text-success.custom-text-shadow-white-1px #{tpitem.headline}
          h5.text-white #{tpitem.prefixsubline}
            |  
            span.text-warning.custom-text-shadow-white-1px #{tpitem.subline}
          div.container-fluid.w-75
            p.text-light!= tpitem.content
    else
      div.carousel-item
        div.text-center
          h3.font-weight-bold.text-success.custom-text-shadow-white-1px #{tpitem.headline}
          h5.text-white #{tpitem.prefixsubline}
            |  
            span.text-warning.custom-text-shadow-white-1px #{tpitem.subline}
          div.container-fluid.w-75
            p.text-light!= tpitem.content
//- setTestimonialPartItems Declaration End

block content
  <!-- Carousel Banner Part Begin -->
  div.container-fluid.p-0
    div.carousel.slide(id="bs-carouselSlides", data-ride="carousel")
      ol.carousel-indicators
        +setCarouselIndicators
      div.carousel-inner
        +setCarouselBannerItems
      a.carousel-control-prev(href="#bs-carouselSlides", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#bs-carouselSlides", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
  <!-- Carousel Banner Part End -->

  <!-- About Part Begin -->
  div.container-fluid.bg-light
    div.container.pt-5.pb-5
      div.row.justify-content-center
        div.col.text-center.pt-3.pb-3
          h2.font-weight-bolder.custom-text-shadow-2px #{aboutpartinfo.part1title}
          h6.text-secondary.custom-text-shadow-1px #{aboutpartinfo.part1subtitle}
      div.row.justify-content-center
        div.col.pt-3.pb-3
          span.h5 #{aboutpartinfo.part1content}
      div.row.justify-content-center
        div.col-lg-5.col-md-12.pt-3.pb-3
          img.img-fluid.rounded(src="/imgs/template1-aboutus.jpg", alt="about us")
        div.col-lg-7.col-md-12.pt-3.pb-3
          div.row
            +setAboutPartItems
  <!-- About Part End -->

  <!-- Timeline Part Begin -->
  div.container-fluid.custom-timeline-bgcolor
    div.container-fluid.p-3
      div.text-center.custom-text-shadow-3px
        span #{aboutpartinfo.part3subtitle}
        h3.font-weight-bolder #{aboutpartinfo.part3title}
      div.timeline
        div.timeline__wrap
          div.timeline__items
            +setTimelinePartItems
        button.timeline-nav-button.timeline-nav-button--prev
        button.timeline-nav-button.timeline-nav-button--next
        span.timeline-divider
  <!-- Note: Need to add script part below the body -->
  <!-- Timeline Part End -->
  
  <!-- Team Part Begin -->
  div.container-fluid.bg-light
    div.container.pt-5.pb-5
      div.text-center.custom-text-shadow-2px.pb-3
        h2.font-weight-bolder #{aboutpartinfo.part4title}
        p #{aboutpartinfo.part4subtitle}
      div.card-deck.pb-4
        +setTeamPartItems
  <!-- Team Part End -->

  <!-- News Part Begin -->
  div.container-fluid.custom-news-bgcolor
    div.container.pt-5.pb-3
      div.text-center.custom-text-shadow-2px.pb-3
        p 关注我们
        h2.font-weight-bolder LATEST NEWS
      div.card-deck.pb-4
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px 28 injured in Sicily in earthquake triggered by volcano eruption
            ui.list-inline
              li.list-inline-item
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-12-28
            p.card-text.custom-news-content-color Twenty-eight people were injured in Italy's Sicily on Wednesday in an earthquake triggered by the eruption of Mount Etna, Italian authorities said...
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px 告别2018，人类群星远行时<br>Condolence to the stars...
            ui.list-inline
              li.list-inline-item 
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-12-25
            p.card-text.custom-news-content-color 星星沉落在海洋中央，一支支歌曲在我心中消亡。——卡尔杜齐《离别》节选...创伤的世界与幻想的江湖...微小至纤维，无垠至宇宙...世界大爆炸...生活在别处...
      div.card-deck.pb-4
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px 中国海军非洲之角护航记事之一：10年护航显成效
            ui.list-inline
              li.list-inline-item 
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-10-8
            p.card-text.custom-news-content-color 2008年12月26日，中国海军首批护航编队解缆起航，赴亚丁湾、索马里海域执行护航任务。回看过去10年间，中国海军护航亚丁湾的成效已经显现...
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px China, U.S. may meet in January for trade negotiation
            ui.list-inline
              li.list-inline-item 
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-9-25
            p.card-text.custom-news-content-color The delegations of China and the U.S. have stayed in close communication and have made plans to meet face-to-face in January...
  <!-- News Part End -->
             
  <!-- Slider Part Begin -->
  div.container-fluid.bg-white
    div.container-fluid.p-5
      div.container.pb-3
        div.text-center.custom-text-shadow-2px.pb-3
          p VISIT
          h2.font-weight-bolder HOTTEST PRODUCTS
      div.slider-pro(id="bs-hot-slider")
        div.sp-slides
          div.sp-slide
            a(href="/imgs/hot-p1.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p1.jpg")
              p.sp-caption HM0752
          div.sp-slide
            a(href="/imgs/hot-p2.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p2.jpg")
              p.sp-caption HM0903
          div.sp-slide
            a(href="/imgs/hot-p3.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p3.jpg")
              p.sp-caption HM0739
          div.sp-slide
            a(href="/imgs/hot-p4.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p4.jpg")
              p.sp-caption HM0725
          div.sp-slide
            a(href="/imgs/hot-p5.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p5.jpg")
              p.sp-caption HM0810
          div.sp-slide
            a(href="/imgs/hot-p6.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p6.jpg")
              p.sp-caption HM0747
  <!-- Note: Need to add script part below the body -->
  <!-- Slider Part End -->

  <!-- Testimonial Part Begin -->
  div.container-fluid.custom-testimonial-height(style="background: url('" + aboutpartinfo.part5background + "')")
    div.container.pt-5.pb-5
      div.text-center.pb-3.text-dark.custom-text-shadow-white-1px
        h2.font-weight-bolder #{aboutpartinfo.part5title}
        p #{aboutpartinfo.part5subtitle}
      div.carousel.slide(id="bs-testimonial-slide", data-ride="carousel")
        div.carousel-inner
          +setTestimonialPartItems
        a.carousel-control-prev(href="#bs-testimonial-slide", role="button", data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#bs-testimonial-slide", role="button", data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next
  <!-- Testimonial Part End -->

block footer-scripts
  <!-- Timeline Script Begin -->
  script(src="/static/js/timeline.min.js")
  script.
    timeline(document.querySelectorAll('.timeline'), {
      forceVerticalMode: 700,
      mode: 'horizontal',
      verticalStartPosition: 'left',
      visibleItems: 5
    });
  <!-- Timeline Script End -->

  <!-- Slider Script Begin -->
  script(src="/static/js/jquery.sliderPro.min.js")
  script.
    $(document).ready(function($) {
      $('#bs-hot-slider').sliderPro({
        width: 400,
        height: 400,
        visibleSize: '50%',
        forceSize: 'fullWidth',
        autoSlideSize: true
      });
    });
  <!-- Slider Script End -->
