//- setNavItems Declaration Begin
mixin setNavItems
  each menuitem, index in navMenu
    if menuitem.submenu.length > 0
      if menuitem.active
        li.nav-item.active
          div.dropdown
            a.nav-link.dropdown-toggle(href=menuitem.href, id="bs-submenu-" + index, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{menuitem.name}
              span.sr-only (current)
            div.dropdown-menu(aria-labelledby="bs-submenu-" + index)
              each submenuitem in menuitem.submenu
                if submenuitem.name == "---"
                  div.dropdown-divider
                else
                  a.dropdown-item(href=submenuitem.href) #{submenuitem.name}
      else
        li.nav-item
          div.dropdown
            a.nav-link.dropdown-toggle(href=menuitem.href, id="bs-submenu-" + index, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{menuitem.name}
            div.dropdown-menu(aria-labelledby="bs-submenu-" + index)
              each submenuitem in menuitem.submenu
                if submenuitem.name == "---"
                  div.dropdown-divider
                else
                  a.dropdown-item(href=submenuitem.href) #{submenuitem.name}
    else
      if menuitem.active
        li.nav-item.active
          a.nav-link(href=menuitem.href) #{menuitem.name}
            span.sr-only (current)
      else
        li.nav-item
          a.nav-link(href=menuitem.href) #{menuitem.name}
//- setNavItems Declaration End

<!-- Sticky Nav Bar Begin -->
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.p-3.custom-white-transparency-95
  div.d-flex.container-fluid
    div.flex-row
      a.navbar-brand(href="/", alt="Homepage")
        img.d-inline-block.align-top(src="/imgs/bootstrap-solid.svg", width="30", height="30", alt=copyrightsiteInfo.sitename)
        |  
        span.custom-text-shadow-1px #{copyrightsiteInfo.sitename}
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#bs-navbarNav", aria-controls="bs-navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.flex-row-reverse.collapse.navbar-collapse(id="bs-navbarNav")
      ul.navbar-nav
        +setNavItems
        form.form-inline.mt-2.mt-md-0(action="/search", post="GET")
          input.form-control.mr-sm-2(type="search", name="term", placeholder=searchInfo.holder, aria-label=searchInfo.caption)
          button.btn.btn-outline-success.my-2.my-sm-0(type="submit") #{searchInfo.caption}
<!-- Sticky Nav Bar End -->
