extends template2-layout

block header-scripts
  link(href="/static/css/magnific-popup.css", rel="stylesheet")

block content
  <!-- Part 1 Begin -->
  if pageinfo.part1visible.toUpperCase() == 'TRUE'
    section(id="part1")
      div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
        div.custom-title-space-height
        div.container.pt-4.pb-4
          h1.text-white.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
          h3.text-white.custom-text-shadow-1px #{pageinfo.part1subtitle}
          div.text-light.col-12.col-lg-6.p-0 #{pageinfo.part1content}
        div.custom-title-space-height
  <!-- Part 1 End -->

  <!-- Part 2/3 Begin -->
  if pageinfo.part2visible.toUpperCase() == 'TRUE'
    section.custom-service-bgcolor.pt-0.pb-3(id="part2")
      div.container
        div.row
          div.col-12.col-md-4.col-lg-3.pb-4.pb-md-0
            div.card.bg-white.p-lg-3.custom-card-offset-y20
              div.card-body
                h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part3title}
                each p3item in pageinfo.part3data
                  div.row.p-2
                    div.col.rounded.custom-service-function
                      if p3item.href != ''
                        a(href=p3item.href, title=p3item.title)
                          img.img-fluid(src=p3item.image, alt=p3item.title)
                      else
                        img.img-fluid(src=p3item.image, alt=p3item.title)
          div.col-12.col-md-8.col-lg-9
            div.card.bg-light.p-lg-3.custom-card-offset-y20
              div.card-body
                h4.card-title.font-weight-bold.custom-text-shadow-1px #{pageinfo.part2title}
                each p2item in pageinfo.part2data
                  div.row.p-3.p-lg-5
                    div.col-12.col-lg-3.d-flex.justify-content-start.justify-content-lg-end
                      img.img-fluid.rounded(src=p2item.image, alt=p2item.title)
                    div.col-12.col-lg-8
                      h5.card-text.font-weight-bold #{p2item.title}
                      p.card-text!= p2item.content
                      if p2item.href != ''
                        a.card-link.custom-service-link(href=p2item.href)
                          span!= p2item.linktext
  <!-- Part 2/3 End -->

  <!-- Part 4/5 Begin -->
  if pageinfo.part4visible.toUpperCase() == 'TRUE'
    section.custom-service-bgcolor.pt-0.pb-3(id="part4")
      div.container
        div.card.bg-light.p-lg-3
          div.row
            div.col
              div.card-body
                h4.card-title.font-weight-bold.custom-text-shadow-1px #{pageinfo.part4title}
                div#bsServiceAccordion.accordion
                  each p4item, index in pageinfo.part4data
                    div.bg-light.border-0.pt-3(id="bsA" + index)
                      button.btn.btn-link.text-left.custom-service-link(type="button", data-toggle="collapse", data-target="#collapse" + index, aria-expanded="false", aria-controls="collapse" + index) 
                        i.fa-lg(class=p4item.faicon)
                        |  
                        span.h5 #{p4item.title}
                    div.collapse(id="collapse" + index, aria-labelledby="bsA" + index, data-parent="#bsServiceAccordion")
                      div.p-3.p-md-4
                        span.h5!= p4item.content
                div.row.pt-5
                  div.col.text-right
                    span.h5.card-title.text-dark.font-weight-bold.custom-text-shadow-1px #{pageinfo.part5title}
                    ul.list-unstyled.row.justify-content-end
                      each p5item in pageinfo.part5data
                        li.pt-3.pr-3
                          if p5item.popuplink != ''
                            a.custom-service-link(href=p5item.popuplink, title=p5item.title, target="_blank")
                              i.fa-2x(class=p5item.faicon)
                          else
                            if p5item.popupimage != ''
                              a.mfp-image-link.custom-service-link(href=p5item.popupimage, title=p5item.title)
                                i.fa-2x(class=p5item.faicon)
                            else 
                              i.text-secondary.fa-2x(class=p5item.faicon)
  <!-- Note: Need to add script part below the body -->
  <!-- Part 4/5 End -->

block footer-scripts
  <!-- Part5/Magnific Popup Script Begin -->
  script(src="/static/js/jquery.magnific-popup.min.js")
  script.
    $(document).ready(function() {
      $(".mfp-image-link").magnificPopup({
        type: "image",
        closeOnContentClick: true
      })
    })
  <!-- Part5/Magnific Popup Script End -->
