extends template1-layout

block header-scripts
  link(href="/static/css/magnific-popup.css", rel="stylesheet")

block content
  <!-- Part 1 Begin -->
  if pageinfo.part1visible.toUpperCase() == 'TRUE'
    section(id="part1")
      div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
        div.custom-title-space-height
        div.container
          div.row.justify-content-center
            div.col.text-center.text-light
              h1.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
              h5.font-weight-bold.custom-text-shadow-1px #{pageinfo.part1subtitle}
          div.row.justify-content-center.pt-5.pb-5
            div.col-10.col-md-8.col-lg-6
              span.h5.text-light!= pageinfo.part1content
  <!-- Part 1 End -->

  <!-- Part 2 Begin -->
  if pageinfo.part2visible.toUpperCase() == 'TRUE'
    section(id="part2")
      div.container-fluid.bg-light.pt-5.pb-5
        div.container
          div.row.justify-content-center
            div.col.text-dark.text-center.pt-3.pb-3
              h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part2title}
          div.row.justify-content-start
            each p2item in pageinfo.part2data
              div.col-md-6.pt-3.pb-3
                div.row
                  div.col-3
                    img.img-fluid.rounded(src=p2item.image, alt=p2item.title)
                  div.col
                    h5.font-weight-bold #{p2item.title}
                    p!= p2item.content
                    if p2item.href != ''
                      a.custom-service-link(href=p2item.href)
                        span!= p2item.linktext
  <!-- Part 2 End -->

  <!-- Part 3 Begin -->
  if pageinfo.part3visible.toUpperCase() == 'TRUE'
    section(id="part3")
      div.container-fluid.bg-white.pt-5.pb-5
        div.container
          div.row.justify-content-center
            div.col.text-dark.text-center.pt-3.pb-3
              h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part3title}
          div.row.justify-content-start
            each p3item in pageinfo.part3data
              div.col-6.col-md-4.col-lg-3
                if p3item.href != ''
                  a.custom-service-function(href=p3item.href, title=p3item.title)
                    img.img-fluid.rounded(src=p3item.image, alt=p3item.title)
                else
                  img.img-fluid.rounded(src=p3item.image, alt=p3item.title)
  <!-- Part 3 End -->

  <!-- Part 4 Begin -->
  if pageinfo.part4visible.toUpperCase() == 'TRUE'
    section(id="part4")
      div.container-fluid.bg-light.pt-5.pb-5
        div.container
          div.row.justify-content-center
            div.col.text-dark.text-center.pt-3.pb-3
              h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part4title}
          div.row.justify-content-center
            div#bsServiceAccordion.accordion.w-100
              each p4item, index in pageinfo.part4data
                div.card
                  div.card-header(id="bsA" + index)
                    button.btn.btn-link.text-left.custom-service-link(type="button", data-toggle="collapse", data-target="#collapse" + index, aria-expanded="false", aria-controls="collapse" + index) 
                      i.fa-lg(class=p4item.faicon)
                      |  
                      span.h5 #{p4item.title}
                  div.collapse(id="collapse" + index, aria-labelledby="bsA" + index, data-parent="#bsServiceAccordion")
                    div.card-body.p-4.p-md-5
                      span.h5!= p4item.content
  <!-- Part 4 End -->

  <!-- Part 5 Begin -->
  if pageinfo.part5visible.toUpperCase() == 'TRUE'
    section(id="part5")
      div.container-fluid.bg-light
        div.container
          div.row.justify-content-center
            div.col.text-dark.text-center.pt-3.pb-3
              h4.font-weight-bold.custom-text-shadow-1px #{pageinfo.part5title}
          div.row.justify-content-center.pb-5
            ul.list-unstyled.justify-content-center.row.mb-2
              each p5item in pageinfo.part5data
                li.p-5
                  if p5item.popuplink != ''
                    a.custom-service-link(href=p5item.popuplink, title=p5item.title, target="_blank")
                      i.fa-4x(class=p5item.faicon)
                  else
                    if p5item.popupimage != ''
                      a.mfp-image-link.custom-service-link(href=p5item.popupimage, title=p5item.title)
                        i.fa-4x(class=p5item.faicon)
                    else 
                      i.text-secondary.fa-4x(class=p5item.faicon)
  <!-- Note: Need to add script part below the body -->
  <!-- Part 5 End -->

block footer-scripts
  <!-- Part5/Magnific Popup Script Begin -->
  script(src="/static/js/jquery.magnific-popup.min.js")
  script.
    $(document).ready(function() {
      $(".mfp-image-link").magnificPopup({
        type: "image",
        closeOnContentClick: true
      })
    })
  <!-- Part5/Magnific Popup Script End -->
