extends template2-layout

block header-scripts

block content
  <!-- Part 1 Begin -->
  if pageinfo.part1visible.toUpperCase() == 'TRUE'
    section(id="part1")
      div.container-fluid.custom-title-height(style="background: url('" + pageinfo.part1background + "')")
        div.custom-title-space-height
        div.container.pt-4.pb-4
          h1.text-white.font-weight-bolder.custom-text-shadow-2px #{pageinfo.part1title}
          h3.text-white.custom-text-shadow-1px #{pageinfo.part1subtitle}
          div.text-light.col-12.col-lg-6.p-0 #{pageinfo.part1content}
        div.custom-title-space-height
  <!-- Part 1 End -->

  <!-- Part 2 Begin -->
  if pageinfo.part2visible.toUpperCase() == 'TRUE'
    section.custom-news-bgcolor.pt-0.pb-5(id="part2")
      div.container
        div.row
          div.col
            div.card.bg-light.custom-card-offset-y20
              div.card-body.align-center
                div.pt-5.text-center
                  h5.card-title.font-weight-bold.custom-text-shadow-1px #{pageinfo.part2data.headline}
                div.pt-3
                  div.col.text-center
                    ui.list-inline
                      li.list-inline-item
                        i(class=pageinfo.part2data.faicon + " fa-lg custom-news-content-color")
                      li.list-inline-item
                        h6.custom-news-content-color #{pageinfo.part2data.date}
                div.d-flex.justify-content-center
                  div.card-text.col-12.col-md-10.pl-0.pr-0.pt-3!= pageinfo.part2data.text
                div.col.pt-5.pb-5.text-center
                  button.btn.btn-primary(type="button", onclick="javascript:history.go(-1);") #{pageinfo.part2backtext}
  <!-- Part 2 End -->

block footer-scripts
